
@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  white-space: pre-wrap;
}
